.calculate-area-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.calculate-area-img {
  width: 600px;
}

@media screen and (max-width: 1000px) {
  .calculate-area-main {
    flex-direction: column;
    text-align: center;
  }

  .calculate-area-img {
    width: 300px;
  }
}
