.quiz-main {
  margin: 2rem auto;
  width: 70%;
  text-align: center;
}

.question-container {
  width: 70%;
  margin: 2rem auto;
  background: rgb(241 241 241 / 38%);
  font-size: larger;
  padding: 1rem 0;
  border-radius: 0.7rem;
  box-shadow: 9.91px 9.91px 15px #eff2f4, -9.91px -9.91px 15px #fafafa;
}

.question {
  display: block;
  margin-bottom: 1rem;
}

.question-container:hover,
.question-container:focus,
.question-container:active {
  border: 3px solid var(--primary-color);
  cursor: pointer;
}

.btn-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .quiz-main {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
  }

  .question-container {
    width: 100%;
    padding: 1rem 1.5rem;
  }
}
